{% extends 'employee_register/base.html' %} 

{% block content %}

<h1>{{ name }}</h1>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <th>Full Name</th>
                <th>Mobile</th>
                <th>Code</th>
                <th>Position</th>
                <th>Image</th>
                <th>
                    <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i>Add New
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employee_list %}
                <tr>
                    <td>{{ employee.fullname }}</td>
                    <td> {{ employee.mobile }} </td>
                    <td>{{ employee.emp_code }} </td>
                    <td>{{ employee.position }}</td>
                    {% comment %} <td>{{ employee.image }}</td> {% endcomment %}
                    <td>
                        {% if employee.image %}
                            <img src="{{employee.image.url}}" alt="Employee Image" width="80" height="80">
                        {% else %}
                            <p>No</p>
                        {% endif %}
                    </td> 
                    <td>
                        <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'employee_delete' employee.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                 <i class="fas fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                    
                        </form>
                            
                        </a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock content %}